<ActionBar title="Home"> </ActionBar>

<StackLayout>
  <Button text="fade" (tap)="fade()"></Button>
  <Button text="flip" (tap)="flip()"></Button>
  <Button text="flipRight" (tap)="flipRight()"></Button>
  <Button text="flipLeft" (tap)="flipLeft()"></Button>
  <Button text="slide" (tap)="slide()"></Button>
  <Button text="slideLeft" (tap)="slideLeft()"></Button>
  <Button text="slideRight" (tap)="slideRight()"></Button>
  <Button text="slideTop" (tap)="slideTop()"></Button>
  <Button text="slideBottom" (tap)="slideBottom()"></Button>
</StackLayout>
