@import './variables';

.login {
    align-items: center;
    flex-direction: column;
    width:100%;
    
    .form {
      padding: 25;
      width:100%;
      margin-left: 30;
      margin-right: 30;
      flex-grow: 2;
      vertical-align: middle;
      .title{
        font-weight: 500;
        font-size: 48;
        text-align: center;
        margin-bottom: 42;
      }
      .input-field{
        TextField{
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
}